    .corpo {
        background: linear-gradient(to right, #2e1a46, #1d3b6b, #c70039, #2e2e2e);
        font-size: 100%;
        font-family: fantasy;
        font-style: oblique;
        margin: 0;
        padding: 0;
    }

    .topo {
        padding:auto;
        background-color: red;
        flex: 100%;
        display: flex;
        justify-content: center;
    }

    .topo a {
        padding: 5%;
        text-decoration: none;
        color: white;
        font-size: 15px;
       margin-left: 40px;
        /* border: 1px solid black; */
    }

    .logo{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100px;   
    }

    #video {
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        /* padding: 20px;
        background-color:red; */
    }
   

    #cardes {
        margin: 50px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }


    .botao{
        width:auto;
        height: auto;
    }



    footer {
        padding: 50px;
        height: 200px;
        background: red;
        text-align: center;
        color: white;
    }


  