    .corpo {
        background: linear-gradient(to right, #2e1a46, #1d3b6b, #c70039, #2e2e2e);
        font-family: fantasy;
        font-style: oblique;
    

    }

    .topo {
        background-color: red;
        display: flex;
        justify-content: center;
    }

    .topo a {
        padding: 5%;
        text-decoration: none;
        color: white;
        font-size: 100%;

        /* border: 1px solid black; */
    }

    #inicio {
        
        justify-content: center;
        text-align: center;

    }

    .logo {
        padding-top: 20%;
        padding-bottom: 20%;
        width: 100px;
    }


    .video {
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        /* padding: 20px;
        background-color:red; */
    }


    #cardes {
        margin: 50px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }


    .botao {
        width: 100%;
        height: 100%;

    }



    footer {
        padding: 50px;
        height: 200px;
        background: red;
        text-align: center;
        color: white;
    }





    @media screen and (max-width: 600px) {
        /* Estilos para telas menores que 768px */
        
        .corpo{
        width: 100%;
        }

        .video{
            width: 50px;
    
        }

    }